# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Environnements
.venv/
venv/
env/

# Configuration locale
.env

# IDE
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db

# Sorties générées
exports/*
!exports/.gitkeep